.con {
  background: dodgerblue;
}
@import "./normalize.css";
:root {
  --color-primary: #0077b6;
  --color-secondary: #caf0f8;
  --color-transpartent: rgba(202, 240, 248, 0.85);
  --color-accent: #ff3400;
  --color-accent-secondary: #00b4d8;
  --color-headings: #03045e;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;

  /* Typongraphy*/
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
  /* background: var(--color-transpartent); */
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  line-height: 1.1;
  color: var(--color-headings);
  letter-spacing: 0.2rem;
}

img {
  width: 100%;
}
.nav__header,
.header--white {
  font-family: "Shrikhand", cursive;
  color: #fff;
  border: 2px solid #0000;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  margin-top: 2rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-size: 3.5rem;
  line-height: 1.3;
}

p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .nav__header {
    margin-top: 0;
  }
}

.list {
  list-style: none;
}
/*  Badge */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-accent-secondary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-transpartent);
  color: var(--color-headings);
  border: 1px solid #000;
  transition: all 0.3s;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
.badge--border {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 3rem;
}

/* logo */
.logo {
  width: 195px;
  height: 195px;
}

.logo-container {
  background: rgba(255, 255, 255, 0.9);
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .logo-container {
    position: initial;
  }
  .logo {
    width: 7rem;
    height: 7rem;
  }
  .logo-container {
    width: 6rem;
    height: 6rem;
  }
}

/* container*/

.card {
  box-shadow: 0 0 20px 10px var(--color-transpartent);
  padding: 2rem 7%;
  border-radius: 30px;
  overflow: hidden;
}

.card--cart {
  padding: 2rem 7%;
  border-radius: 30px;
  overflow: hidden;
}

.card--primary {
  background: var(--color-primary);
}
.card--secondary {
  background: var(--color-secondary);
}

.card--accent {
  background: var(--color-accent-secondary);
}
.card--gray {
  background: var(--color-border);
}
.card--stroke {
  border: 20px solid var(--color-border);
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 20px;
  height: 20px;
}

.icon--white {
  fill: #fff;
}

.icon--primary {
  fill: var(--color-accent-secondary);
}

.icon-container {
  background: var(--color-primary);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--centre {
  align-self: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Menu Link */

.menu-links {
  position: relative;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-links__img {
  position: relative;
  border-radius: 30px;
  border: 8px solid #fff5f5;
  display: inline-block;
}

.menu-links > .badge {
  position: absolute;
}

.menu-links > .badge:hover {
  background: var(--color-primary);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .menu-links {
    padding-left: 0;
    padding-bottom: 1rem;
  }
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Flex */
.flex {
  display: flex;
}
/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .grid--6x1 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid--4x1 {
    grid-template-rows: repeat(4, 1fr);
  }
}

nav {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  position: relative;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Links */

a {
  text-decoration: none;
}

/*banner*/

.banner__img {
  height: 30rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: #fff;
  line-height: 1.3;
  max-height: 20rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--color-headings);
}

.quote__location {
  color: #fff;
  opacity: 0.6;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .quote {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5;
  }
  .quote__author {
    font-size: 1.5rem;
  }
  .media {
    margin-bottom: 0;
  }
}

/* Media */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Testimonial */
.testimonial {
  padding-left: 1rem;
  padding-right: 1rem;
}
.testimonial__header,
.operation__header {
  text-align: center;
  margin-top: 0;
}

/* operations*/

.operation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
.operation__ul {
  color: #fff;
  font-size: 4rem;
  display: inline;
  text-align: center;
}

/*  Details*/
.details {
  grid-gap: 2rem;
  margin-top: 2rem;
}

.img__award {
  width: 20rem;
  align-self: center;
}

.testimonial {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* menu */

.menu__body {
  width: 50ch;
  color: var(--color-body-darker);
}

.menu-tab {
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  transition: all 0.2s ease-out;
  padding-left: 1rem;
  padding-right: 1rem;
}
.menu-tab .badge {
  max-height: 4rem;
  align-self: center;
  padding-top: 0;
}

.menu__header {
  margin-top: 0;
}

.menu-tab:hover {
  transform: scale(1.05);
  background: var(--color-transpartent);
  border-radius: 10px;
}

/* Menu List */

.menu__img {
  height: 30rem;
  border-radius: 3rem;
  border: 10px solid var(--color-transpartent);
  position: relative;
}
.menu__img-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu__img-container .badge {
  position: absolute;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.header__menu {
  background: var(--color-headings);
  padding: 1rem;
  clip-path: polygon(10% 10%, 100% 10%, 90% 100%, 0% 95%);
}

.header__primary {
  background: var(--color-headings);
  padding: 1rem;
}

.title__menu {
  color: white;
  text-align: center;
}

.img__kids {
  height: 40rem;
  width: 40rem;
}
/* Collapsibles */

.collapsible {
  padding-bottom: 2.5rem;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Cart */

.cart--container {
  margin-right: 4rem;
  margin-left: 4rem;
}
.cart__header {
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}
.time {
  color: var(--color-accent);
  font-size: 3rem;
  font-weight: 600;
}

.p__time {
  color: var(--color-primary);
}

.cart__title {
  font-size: 3rem;
  margin-top: 0;
}

.p__cart-display {
  color: #fff;
}

.cart__body {
  height: auto;
  max-height: 50rem;
  text-align: center;
}

.cart__subtotal p,
.cart__total p {
  padding-right: 1rem;
}
.p__label-total {
  color: #fff;
}
.p__label-total,
.p__total,
.p__label-subtotal,
.p__subtotal {
  font-weight: 500;
}
.p__subtotal {
  color: var(--color-headings);
}
.p__total {
  color: var(--color-accent);
  font-style: italic;
}

.btn__container {
  justify-content: center;
}

.block__cart {
  position: fixed;
  /* right: 15%; */
  position: sticky;
}

.body__menu {
  margin-left: 2rem;
}
.block__order-menu {
  margin-top: 2rem;
}

/*test styles*/

/* Blocks */

.block {
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h2 {
  color: #fff;
}

* Footer */ .footer {
  background: #232323;
  padding-top: 10rem;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

.footer__brand {
  margin-top: 4rem;
  text-align: center;
}
.footer__logo {
  width: 10rem;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}

/*test changes*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 5rem;
  font-size: 2.5rem;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  border: 1px solid #000;
  background: red;
  border-radius: 100%;

  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 3%;

  font-size: 1.375em;
  color: #fff;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 0, 0, 0.2);
}
[type="checkbox"]:checked:hover + label:before,
[type="checkbox"]:not(:checked):hover + label:before {
  background: var(--color-headings);
}
